## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [61]:
# Импорт модуля Pandas с псевдонимом pd
import pandas as pd

In [62]:
# Загрузка датасета
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [63]:
# Вывод уникальных значений колонки 'sex' и подсчёт количества их появлений при помощи.value_counts()
print(data['sex'].value_counts())

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [64]:
# Фильтрация строк по 'sex' при помощи маски data['sex'] == 'Male'
# Подсчёт среднего значения колонки 'age' в оставшихся строках при помощи .mean
# Округление до целого значения
print(f"Средний возраст мужчин - {round(data[data['sex'] == 'Male']['age'].mean())} лет")

Средний возраст мужчин - 39 лет

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [65]:
# Фильтрация при помощи маски data['native-country'] == 'United-States'
# Подсчёт доли True (США) к False (не США) при помощи .mean
# Приведение получившегося числа к "красивому" (умножение на 100 и округление до двух знаков после точки)
print(f"Доля граждан США - {round(((data['native-country'] == 'United-States').mean() * 100), 2)}%")

Доля граждан США - 89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [66]:
# Группировка строк по 'salary' при помощи groupby.
# Выбор столбца 'age' из всего датасета
# Подсчёт среднего значения .mean и стандартного отклонения .s результатов в одной таблице при помощи .agg
print(data.groupby('salary')['age'].agg(['mean', 'std']))

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [67]:
# Фильтрация строк по 'salary' выше 50К
# Выбор интересующего нас столбца 'education'
# Вывод уникальных значений 'education' и подсчёт количества каждой подобной записи
print(f"Статистика образования среди людей с ЗП выше 50k: {(data[data['salary'] == '>50K'])['education'].value_counts()}")

Статистика образования среди людей с ЗП выше 50k: education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [68]:
# Группировка по расе и полу
# Вывод подробной статистики по 'age' при помощи .describe и загрузка её в переменную described_age_stats
print("Статистика возраста для каждой расы и каждого пола:")
described_age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(described_age_stats)

# Вычленение значения 'max' по 'Male' и 'Asian-Pac-Islander' при помощи .loc
print(f"Максимальный возраст мужчин расы Asian-Pac-Islander - {described_age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']}")

Статистика возраста для каждой расы и каждого пола:
                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Максимальный возраст мужчин расы Asian-Pac-Islander - 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [69]:
# Создание отдельного датасета из копии "мужской части" во избежание возникновения ошибок
men_only_copy = data[data['sex'] == 'Male'].copy()

# Фильтр начинающихся с 'Married' ячеек столбца 'martial_status'
# Работа с каждой ячейкой как со строкой осуществляется через всроенный в Pandas инструмент .str
men_only_copy['married_status'] = men_only_copy['marital-status'].str.startswith('Married')

# Создание столбца с "меткой богатства" (1 или 0) для более удобной фильтрации
men_only_copy['is_rich'] = (men_only_copy['salary'] == '>50K')

# Группировка по статусу брака и подсчёт доли богатых через .mean
print("Статистика по богатым среди женатых и неженатых:")
print(f'{men_only_copy.groupby('married_status')['is_rich'].mean()}')

Статистика по богатым среди женатых и неженатых:
married_status
False    0.084495
True     0.440514
Name: is_rich, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [70]:
# Вывод процента богатых среди этой группы
max_working_hours = data['hours-per-week'].max()
print(f"Максимальное время работы в неделю - {max_working_hours} часов")

# Выделение группы "работяг" и подсчёт их количества
hardest_workers = data[data['hours-per-week'] == max_working_hours]
print(f"Количество трудоголиков - {len(hardest_workers)}")

# Вычленение максимального значения из 'hours-per-week'
print(f"Процент богатых среди трудоголиков - {(hardest_workers['salary'] == '>50K').mean() * 100:.1f}%")

Максимальное время работы в неделю - 99 часов
Количество трудоголиков - 85
Процент богатых среди трудоголиков - 29.4%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [75]:
# Группировка сначала по странам, а потом - по уровню зарплат
# Отбрасывание всех колонок кроме 'hours-per-week'
# Вычисление среднего количества часов по каждой зарплатной группе
# Переформатирование таблицы при помощи .unstack в более удобный вид
print(data.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack())

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [ ]:
# Создание новой колонки 'AgeGroups'
# Внесение в неё результатов подсчётов функции .cut, в качестве аргументов которой - требуемые возрастные категории
data['AgeGroup'] = pd.cut(data['age'], bins=[0, 35, 70, 100], labels=['young', 'adult', 'retiree'])

# Вывод первых десяти записей датасета с возрастом и присвоенной возрастной категорией
print(data[['age', 'AgeGroup']].head(10))

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young
5   37    adult
6   49    adult
7   52    adult
8   31    young
9   42    adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [ ]:
# Фильтрация ранее созданной колонки 'AgeGroup' по значению 'salary' == '>50K'
# Подсчёт количества людей с ЗП выше 50К
print("Количество богатых по возрастным группам:")
print((data[data['salary'] == '>50K'])['AgeGroup'].value_counts())

# Составление сводной таблицы wealth_statistics из строк 'AgeGroup' и 'salary' при помощи .crosstab
# Вывод категории, к которой относится максимальное значение 'salary'
wealth_statistics = pd.crosstab(data['AgeGroup'], data['salary'], normalize='index')
print(f"Возрастная группа, в которой чаще всего зарабатывают больше 50K - {wealth_statistics['>50K'].idxmax()}")

Количество богатых по возрастным группам:
AgeGroup
adult      6042
young      1705
retiree      94
Name: count, dtype: int64
Возрастная группа, в которой чаще всего зарабатывают больше 50K - adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [74]:
# Вывод всех профессий с суммарным количеством занятых в соответствующих профессиях
print('Все профессии с общим количеством занятых:')
print(data['occupation'].value_counts())

# Объявление функции-фильтра для фильтрафции профессий по требуемым условиям
def filter_func(group):
    age_condition = group['age'].mean() <= 40
    work_time_condition = (group['hours-per-week'] > 5).all()
    return age_condition and work_time_condition

# Применение созданного фильтра к датасету для поиска искомых профессий
print("Профессии, соответствующие заданным условиям:")
print((data.groupby('occupation').filter(filter_func))['occupation'].unique())

Все профессии с общим количеством занятых:
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
Профессии, соответствующие заданным условиям:
['Armed-Forces']